/* Urbanist Font Faces */
@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graffiti Urban';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------------- */
/* THEME: Black & White with Pink Accents */
/* -------------------------------------- */

/* --- LIGHT MODE (DEFAULT) --- */
:root {
  font-family: 'Urbanist', sans-serif;
  font-family: 'Graffiti Urban', sans-serif;

  --main-black: #1d1c19;
  --main-white: #ffffff;  
  --main-dark-white: #e9e9e9;  
  --main-grey: #7c7c7c;
  --main-dark-grey: #23262B;
  --main-placeholder: #c3beb5;
  --main-card-bg: #ded9ca;
  --main-yellow-light: #ffe16a;
  --main-yellow-dark: #f6cb21;
  --main-red-light: #ef4444;
  --main-green-light: #038214;
  --main-blue-light: #44a5ef;
  
  --navbar-bg: var(--main-black);
  --navbar-text: var(--main-white);
  --navbar-height: 80px;
  --topbar-bg: var(--main-black);
  --topbar-text: var(--main-white);
  --topbar-height: 60px;
  --toast-bg: var(--main-white);
  --toast-border: var(--main-dark-white);
  --toast-text: var(--main-black);

  --card-bg: var(--main-white);
  --card-border: #cacaca;
  --card-title-text: var(--main-black);
  --card-date-text: var(--main-grey);
  --card-mood-text: var(--main-white);
  --card-mini-bg: var(--main-dark-white);
  --card-mini-border: #cacaca;
  --card-shadow: 0 4px 10px rgba(0,0,0,0.12);
  --mood-shadow: 0 2px 4px rgba(0,0,0,0.1);

  --takeNote-btn-bg: var(--main-white);
  --separator-primary: var(--main-black);

  --main-bg: var(--main-white);
  --filterbar-bg: #FBF7EC;

  --dropdown-text-color: var(--main-black);
  --dropdown-border-color: var(--main-white);
  --dropdown-bg-color: var(--main-white);
  --dropdown-select-color: var(--main-dark-white);
  --dropdown-shadow: 0 2px 4px rgba(0,0,0,0.24);
  --filter-button-bg: var(--main-black);
  --filter-button-border: var(--main-white);
  --filter-button-text: var(--main-white);
  --filter-button-focus: var(--main-dark-grey); 

  --entry-form-title: var(--main-black);
  --entry-form-content: var(--main-black);
  --entry-form-placeholder: var(--main-placeholder);

  --theme-toggle-light: var(--main-white);
  --theme-toggle-dark: var(--main-black);
  --theme-border-light: 2px solid var(--main-white);
  --theme-border-dark: 2px solid var(--main-black);
  --theme-light: var(--main-black);
  --theme-dark: var(--main-white);

  --data-cont-border: 1px solid var(--main-black);
  --data-cont-bg: var(--main-white);
  --data-text-primary: var(--main-black);

  --primary-btn-bg: var(--main-black);
  --primary-btn-text: var(--main-white);
  --primary-btn-border: var(--main-white);
  --secondary-btn-bg: var(--main-white);
  --secondary-btn-text: var(--main-black);
  --secondary-btn-border: var(--main-black);
  --secondary-btn-bg-active: var(--main-yellow-light);
  --secondary-btn-text-active: var(--main-white);
  --secondary-btn-border-active: var(--main-yellow-dark);
  --danger-btn-bg:var(--main-red-light);
  --danger-btn-border:var(--main-red-light);
  --danger-btn-text:var(--main-white);
}

/* --- DARK MODE --- */
body.dark { /* Toggled by themeStore.js */
  --main-black: #11100f;
  --main-white: #ffffff;  
  --main-dark-white: #FBF7EC;  
  --main-grey: #23262B;
  --main-dark-grey: #191919;
  --main-placeholder: #c3beb5;
  --main-card-bg: #ded9ca;
  --main-yellow-light: #ffe16a;
  --main-yellow-dark: #f6cb21;
  --main-red-light: #ef4444;
  --main-green-light: #44ef5b;
  --main-blue-light: #44a5ef;
  
  --navbar-bg: var(--main-black);
  --navbar-text: var(--main-white);
  --navbar-height: 80px;
  --topbar-bg: var(--main-black);
  --topbar-text: var(--main-white);
  --topbar-height: 60px;
  --toast-bg: var(--main-black);
  --toast-border: var(--main-grey);
  --toast-text: var(--main-white);

  --card-bg: var(--main-dark-grey);
  --card-border: #525252;
  --card-title-text: var(--main-white);
  --card-date-text: var(--main-white);
  --card-mood-text: var(--main-white);
  --card-shadow: 0 4px 10px rgba(0,0,0,0.25);
  --card-mini-bg: var(--main-black);
  --card-mini-border: var(--main-dark-grey);
  --mood-shadow: 0 2px 4px rgba(0,0,0,0.1);

  --takeNote-btn-bg: var(--main-white);
  --separator-primary: var(--main-white);

  --main-bg: #11100b;
  --filterbar-bg: #1d1c19;

  --dropdown-text-color: var(--main-white);
  --dropdown-border-color: var(--main-white);
  --dropdown-bg-color: var(--main-black);
  --dropdown-select-color: var(--main-grey);
  --dropdown-shadow: 0 2px 4px rgba(0,0,0,0.24);
  --filter-button-bg: var(--main-white);
  --filter-button-border: var(--main-black);
  --filter-button-text: var(--main-black); 
  --filter-button-focus: var(--main-dark-white); 

  --entry-form-title: var(--main-white);
  --entry-form-content: var(--main-white);
  --entry-form-placeholder: var(--main-placeholder);

  --data-cont-border: 1px solid var(--main-white);
  --data-cont-bg: var(--main-black);
  --data-text-primary: var(--main-white);

  --primary-btn-bg: var(--main-white);
  --primary-btn-text: var(--main-black);
  --primary-btn-border: var(--main-black);
  --secondary-btn-bg: var(--main-black);
  --secondary-btn-text: var(--main-white);
  --secondary-btn-border: var(--main-white);
  --secondary-btn-bg-active: var(--main-yellow-light);
  --secondary-btn-text-active: var(--main-white);
  --secondary-btn-border-active: var(--main-yellow-dark);
  --danger-btn-bg:var(--main-red-light);
  --danger-btn-border:var(--main-red-light);
  --danger-btn-text:var(--main-white);
}


/* Base Body Styling */
body {
  background-color: var(--main-bg);
  color: var(--text-primary);
  line-height: var(--app-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0;
  overscroll-behavior-y: contain;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; /* Smooth theme transition */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Global Button Reset */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  text-align: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
a {
  outline: none;
}

button:focus,
a:focus {
  outline: none;
}

/* General focus style for accessibility */
*:focus-visible {
  outline: 2px solid var(--bw-accent-pink);
  outline-offset: 2px;
  border-radius: 3px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Hiding scrollbars */
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }